body{
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;

}
.vertial-container{
    background-color: red;
    height: 700px;
    grid-column: 1;

}
  

.horizontal-container{
    
    width: 1050px;
    grid-column: 2;
    
}
.containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
ul li a{
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 20px;
    color: black;
    
}
ul li{
    list-style-type: none;
   
}
.navigation{
    padding-top: 30px;
    padding-left: -65px;
    display: flex;
  justify-content: space-between;
}
/*email button must be fixed*/

.logo img{
    padding-left: 65px;
    padding-top: 30px;
    width: 120px;
    height: 90px;
    
}
 /* Basic CSS to style the container and image */
 .container {
    width: 300px; /* Set the width of the container */
    height: 360px; /* Set the height of the container */
    border: 2px solid red; /* Optional: Border around the container */
    overflow: hidden; /* Hide any part of the image that overflows */
    margin-left: 350px;
    margin-top: 20px;
}

.container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the image aspect ratio */
    display: block; /* Remove any extra space below the image */
    max-width: 300px;
}
.socials {
    margin-left: 20px;
}

.horizontal-container h1{
    
    width: 1050px;
   text-align: center;
   font-style: oblique;
   font-size:45px;
}
.horizontal-container p{
    
    width: 1050px;
   text-align: center;
}

.education ul li{
    list-style-type:decimal;
}
.about_me h3{
    text-align: center;
}
/*
.personal-details label{
    text-align: center;
}
*/  
.education{
    margin-left: 30px;
} 
.skills{
    margin-left: 30px;
} 
.certification{
    margin-left: 30px;
    
}
#location, #weather {
    margin: 10px 0;
    font-size: 18px;
}
button {
   
    font-size: 10px;
    cursor: pointer;
    
}
.get-weather{
    padding-left: 30px;
}
.get-location{
    padding-left: 450px;
    padding-top: 20px;
}



    @media only screen and (max-width: 768px) {
        .horizontal-container {
          width: 100%;
          padding: 20px;
        }
        .container {
          width: 100%;
          margin: 20px;
        }
      }

      @media only screen and (max-width: 480px) {
        .horizontal-container {
          grid-column: 1;
        }
        .container {
          max-width: 100%;
        }
      }
      



